.reveal ul {
  list-style-type: none;
}

.lefty {
  text-align: left;
}

.title h2 {
  font-size: 3.5em;
}

.white {
  color: white;
}

.white h2 {
  color: white;
}

.reveal section img {
  margin: 0;
  border: 0;
  background: none;
  box-shadow: 0 0;
}

.reveal section img.config {
  margin-top: 2em;
}

.reveal ul.bullets {
  list-style-type: bullets;
}
